{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col col-4">
    <img src="https://cdn-icons-png.flaticon.com/512/7274/7274757.png" class="card-img-top" alt="package">
  </div>
  <div class="col col-8">
    <div class="d-flex">
      <div>100232 views</div>
      <div class="ms-4">07/12/2024 16:12</div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="fw-bold card-text">35$</p>
      <p class="card-text">discription</p>
    </div>
  </div>
</div>
{% endblock %}